<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="prefixed:prefixedvalue" value="foo" />
    <add key="NonPrefixedValue" value="bar" />
    <add key="sample:caseinsensitivevalue" value="baz" />
    <add key="caseinsensitivevalue" value="oh" />
    <add key="Sample:PrefixedValue" value="booh" />
    <add key="valueinconfigfile" value="yay" />
    <add key="Sample:Port" value="34" />
    <add key="Sample:Url" value="http://example.org" />
  </appSettings>
  <connectionStrings>
    <add name="test" connectionString="this;connection;string;is;awesome"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.3545" newVersion="2.2.0.3545" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
