<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="prefixed:prefixedvalue" value="foo"/>
    <add key="NonPrefixedValue" value="bar"/>
    <add key="sample:caseinsensitivevalue" value="baz"/>
    <add key="caseinsensitivevalue" value="oh"/>
    <add key="Sample:PrefixedValue" value="booh"/>
    <add key="valueinconfigfile" value="yay"/>
  </appSettings>
</configuration>